{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class = "container">
<div class = "row">
<div class = "col-md-3">
  <h1> Categories </h1>
    <ul class="nav nav-pills nav-stacked">
	<li><a href='{{url_for('catalogMenu')}}'><i class="glyphicon glyphicon-list-alt"></i>Home</a></li>
          {% for i in catalogs %}
	{% if i.id==catalog.id %}
         <li class="active"><a href = '{{url_for('catalogItems', catalog_id = i.id)}}'>
          <i class="glyphicon glyphicon-leaf"></i>{{i.name}}</a></li>
	{% else %}
         <li><a href = '{{url_for('catalogItems', catalog_id = i.id)}}'>
          <i class="glyphicon glyphicon-leaf"></i>{{i.name}}</a></li>
	{% endif %}
          {% endfor %}
          <li><a href = '{{url_for('newCatalog')}}' class = 'btn btn-success btn-outline'>Add a new catalog</a></li>
            </ul>
</div>

<div class = "col-md-9">
  <br><br>
  <div class="jumbotron">
    <h1 class = "text-center">{{ catalog.name }}</h1>
    <br>
    <p>{{catalog.description}}</p>
    <br>
    <a href = '{{url_for('newCatalogItem', catalog_id = catalog_id)}}'
      class = 'btn btn-success btn-outline'>Create new catalog item</a>
    <a href = '{{url_for('editCatalog', catalog_id = catalog_id)}}'
      class = 'btn btn-success btn-outline'>Edit current catalog</a>
    <a href = '{{url_for('deleteCatalog', catalog_id = catalog_id)}}'
      class = 'btn btn-success btn-outline'>Delete current catalog</a>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% for i in items%}
        <div class="col-md-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-bicycle fa-3x"></span>
                </div>
              <div class = 'itemName'>
                <a href = "{{url_for('showItemInfo', catalog_id = catalog_id,
                  catalogItem_id = i.id)}}"><h2>{{i.name}}</h2></a>
                <p><em>Description: </em>{{i.description}}</p>
              </div>
              <a href = '{{url_for('editCatalogItem', 
                catalog_id = catalog_id, catalogItem_id = i.id)}}'
                class = 'btn btn-success btn-outline'>edit</a>
              <a href = '{{url_for('deleteCatalogItem', 
                catalog_id = catalog_id, catalogItem_id = i.id)}}'
                class = 'btn btn-success btn-outline'>delete</a>
          </div>
        </div>
        {% if loop.index is divisibleby 2 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</br></br></br></br>
{% endblock %}
