<div class="container">
<div id="footer">
        <div class="row">
	<hr>
            <p class="footertext">About Me:</p>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmer</h4>
                  <p class="footertext">There are two ways of constructing a software design. One way is to make it so simple that there are obviously no deficiencies. And the other way is to make it so complicated that there are no obvious deficiencies.<br>
                </center>
              </div>
		<div class="col-md-1"></div>
              <div class="col-md-7">
        	<iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAN1hc3KcOz0IDlUJE_cBUH-EP5xSxW2oU&q=Mountain+View, CA"></iframe>
    	</div>
    	
            </div>
            <div class="row">
            <address><p><center>Yanhong Zhou  </br> <i class="glyphicon glyphicon-phone">(917)9308483</i> 
		</br> <i class="fa fa-envelope"> yanhong.zhou05@gmail.com</i>
		 <p class="footertext">Copyright 2015</p></center></p></address>
        </div>
    </div>
</div>
