{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class = "container">
<div class = "row">
<div class = "col-md-3">
  <h1> Categories </h1>
    <ul class="nav nav-pills nav-stacked">
	<li class="active"><a href="#"><i class="glyphicon glyphicon-list-alt"></i>Home</a></li>
          {% for i in catalogs %}
         <li><a href = '{{url_for('catalogItems', catalog_id = i.id)}}'>
          <i class="glyphicon glyphicon-leaf"></i>{{i.name}}</a></li>
          {% endfor %}
            </ul>
</div>

<div class = "col-md-9">
  <h1 class = "text-center"> Latest Added Items </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="row row-eq-height">
        {% for i in latestItems%}
        <div class="col-md-6">

            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-4x fa-bicycle"></span>
                </div>

              <div class = 'itemName'>
                <a href = "{{url_for('showItemInfo', catalog_id = i.catalog_id,
                  catalogItem_id = i.id)}}"><h2>{{i.name}}</h2></a>
                <p><em>Description: </em>{{i.description}}</p>
            </div>
          </div>
        </div>
        {% if loop.index is divisibleby 2 %}
      </div>
      <div class="row row-eq-height">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
