{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li> <strong> {{ message }} </strong> </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</div>

<div class = "container">
<div class = "row">
<div class = "col-md-3">
  <h1> Categories </h1>
    <ul class="nav nav-pills nav-stacked">
	<li><a href='{{url_for('catalogMenu')}}'><i class="glyphicon glyphicon-list-alt"></i>Home</a></li>
          {% for i in catalogs %}
	{% if i.id==catalog.id %}
         <li class="active"><a href = '{{url_for('catalogItems', catalog_id = i.id)}}'>
          <i class="glyphicon glyphicon-leaf"></i>{{i.name}}</a></li>
	{% else %}
         <li><a href = '{{url_for('catalogItems', catalog_id = i.id)}}'>
          <i class="glyphicon glyphicon-leaf"></i>{{i.name}}</a></li>
	{% endif %}
          {% endfor %}
            </ul>
</div>

<div class = "col-md-9">
  <br><br>
  <div class="jumbotron">
    <div class="container-fluid">
      <h1 class = "text-center">{{ catalog.name }}</h1>
      <br>
      <p>{{catalog.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% for i in items%}
        <div class="col-md-6">
            <div class="box">
                <div class="box-icon">
                    <span class="fa fa-bicycle fa-3x"></span>
                </div>
              <div class = 'itemName'>
                <a href = "{{url_for('showItemInfo', catalog_id = catalog_id,
                  catalogItem_id = i.id)}}">
                  <h2>{{i.name}}</h2>
                </a>
                <p><em>Description:</em> {{i.description}}</p>
            </div>
          </div>
        </div>
        {% if loop.index is divisibleby 2 %}
      </div>
      <div class="row">
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
