* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	color: #42C3C9;
	line-height: 29px;
}

h3 {
	font-size: 18px;
	color: #42C3C9;
	line-height: 23px;
}

p {
	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
}

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
}

a {
 	font-size: 16px;
 	color: #0093B9;
 	line-height: 17px;
}

.padding-top {
	padding-top: 30px;
}

.padding-bottom {
	padding-bottom: 30px;
}

.margin-right {
	margin-right: 30px;
}

.padding-none {
	padding: 0;
}

.btn {
	padding: 10px;
	margin: 0;
	border-color: #FFFF99;
	border-width: 1px;
	color: #CCFF99;
}

.btn:hover {
	border-color: #9FB80A;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}

.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.glyphicon {
	margin-right: 10px;
}

.top-menu {
	padding-top: 30px;
	padding-bottom: 30px;
}

.top-menu p {
	margin-bottom: 0;
	line-height: 16px;
}

.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 16px;
	color: #7B7573;
	font-weight: 400;
}

.divider.blue {
	background-color: #42C3C9;
}

.divider.green {
	background-color: #9FB80A;
}

.banner.main {
	height: 150px;
	background: url("/static/top-banner.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.banner.menu {
	height: 150px;
	background-color: #E1E17F;
}

.banner.profile {
	height: 150px;
	background-color: #A6E8EB;
}

.banner h1 {
	margin: 50px 0;
}


.menu-item {
	background: #F0F0F0;
	padding: 20px;
	margin: 20px;
	margin-left: -20px;
}

.menu-price {
	font-weight: 700;
}

.creator {
	padding-right: 20px;
	margin-top: -20px;
	text-align: right;
	float:right;
}

.creator img {
	width: 100px;
	border-radius: 50%;
}

.creator figcaption {
	font-size: 14px;
	color: #7B7573;
	font-weight: 400;
	margin-top: -20px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}

.jumbotron {
    position: relative;
    background: #F5FFFA;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

}

/*
.myCarousel >  img {
  position: absolute;
  top: 0;
  left: 0;  
  right: 0;
  min-width: 100%;
  height: 300px;
  max-width: none;
}
*/

.myCarousel > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
.carousel-inner > .item > img{
    width:100%;
    height:458px; 
    margin: auto;
}

.carousel-inner h3{
    font-size:1em;
    color:#ffffff;
}

.carousel-inner p{
    font-size:1em;
    color:#ffffff;
}


.login-container{
    position: relative;
    width: 300px;
    margin: 30px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

.login-container h3 {
   font-family: Roboto, Helvetica, Arial, sans-serif;
   font-size: 1.4em;
   color: #000000; 
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}
/*
.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}
*/

.avatar {
    width: 125px;height: 125px;
    margin: 8px auto 28px;
    border-radius: 100%;
    border: 4px;
    background-size: cover;
	background: url("/static/github.png");
}
.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}


.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.social {
	font-size: 1px;
}

.social .center-block {
	vertical-align: middle;
}

.social span {
	display: inline-block;
	width: 110px;
}

.social .g-signin {
	width: 95px;
}

address { 
    display: block;
    font-style: italic;
}

#footer
{
    padding-top: 150px;
    vertical-align: middle;
    line-height: normal;
    bottom: 0px;
    width: 100%;
}
